<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div  th:each="u : ${users}">
      <form th:action="'/User/'+${u.id_user}+'/edit'" method="post">
        <input type="text" th:value="${u.fname}" name="fname" placeholder="Введите название компьютера">
        <input type="text" th:value="${u.lname}" name="lname" placeholder="Введите название процессера">
        <input type="text" th:value="${u.login}" name="login" placeholder="Введите оперативной памяти">
        <input type="number" th:value="${u.oklad}" name="oklad" placeholder="Введите оклад">
        <input type="date" th:value="${u.dateU}" name="dateU">
        <button type="submit">Сохранить изменения</button>
      </form>
    </div>
    </body>
</html>