<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отбор компьютеров о фильтру</title>
</head>
    <body>
    <form method="post" th:action="${'/page_FilterPC'}">
      <input type="text" name="name">
          <select id="cbFilter" name="cbFilter">
            <option value="1" label="Точно"></option>
            <option value="2" label="Не точно"></option>
          </select>
      <p>
      <button type="submit">Найти</button>
      <p>
        <div th:each="pc : ${pcs}">
          <h3 th:text="${pc.name}"></h3>
          <p th:text="${pc.price}"></p>
      </div>
    </form>
    </body>
</html>