<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Главная страница</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:insert="blocks/head"></div>
        <h1>Главная страница</h1>

        <table>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Логин</th>
            </tr>
                 <tr th:each="u : ${users}">

                    <td th:text="${u.fname}"></td>
                    <td th:text="${u.lname}"></td>
                    <td th:text="${u.login}"></td>
                     <td>
                    <form th:action="'/User/' + ${u.id_user}">
                        <button th:href="'/User/' + ${u.id_user}">Подробнее</button>
                    </form>
                     </td>
                    <br>
                 </tr>
        </table>
            <br>
            <table>
            <tr>
               <th>Название</th>
                <th>Папа</th>
                <th>Оперативная память</th>
                <th>Цена</th>
            </tr>

                <tr th:each="pc : ${pcs}">
                    <td th:text="${pc.name}"></td>
                    <td th:text="${pc.cpu}"></td>
                    <td th:text="${pc.ram}"></td>
                    <td th:text="${pc.price}"></td>
                    <td>
                    <form th:action="'/PC/' + ${pc.id_pc}">
                        <button th:href="'/PC/' + ${pc.id_pc}">Подробнее</button>
                    </form>
                    </td>
                </tr>

        </table>
    </body>
</html>