<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>Главная страница</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:insert="blocks/head"></div>
        <h1>Главная страница</h1>

        <a href="/page_addUser">Создание пользователя</a>
        <a href="/page_addPC"  >Запись данных компьютера</a>

        <br>

        <a href="/page_FilterUser">Фильрация пользователя</a>
        <a href="/page_FilterPC"  >Фильрация компьютера</a>

        <div th:each="u : ${users}">
            <h5 th:text="${u.fname}"></h5>
            <p  th:text="${u.lname}"></p>
            <p  th:text="${u.login}"></p>
            <h5 th:text="${u.login}"></h5>
            <br>
            <a  th:href="'/User/' + ${u.id_user}">Подробнее</a>
        </div>
        <div th:each="pc : ${pcs}">
            <h5 th:text="${pc.name}"></h5>
            <h5 th:text="${pc.cpu}"></h5>
            <p  th:text="${pc.ram}"></p>
            <p  th:text="${pc.price}"></p>
            <a  th:href="'/PC/' + ${pc.id_pc}">Подробнее</a>
        </div>
    </body>
</html>